<!DOCTYPE html>
<html>
<head>
    <title>Phone Book</title>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
    $('#delete-form').submit(function(event) {
        event.preventDefault(); // Prevent the default form submission
        var formData = $(this).serialize(); // Serialize form data
        $.ajax({
            type: 'POST',
            url: '/channel/delete_selected_contacts/',
            data: formData,
            success: function(response) {
                // Handle successful contact deletion
                console.log('Contacts deleted successfully');
            },
            error: function(xhr, status, error) {
                // Handle error
                console.error('Error deleting contacts:', error);
            }
        });
    });
});
    </script>
</head>
<body>
    <h1>Contacts</h1>
   {% comment %} <ul>
        {% for contact in contacts %}
            <li>{{ contact.name }} - {{ contact.phone }}</li>
        {% endfor %}
    </ul>{% endcomment %}
<form id="delete-form" method="post">
    {% csrf_token %}
    {% for contact in contacts %}
        <input type="checkbox" name="contact_ids[]" value="{{ contact.id }}">
        {{ contact.name }} - {{ contact.phone_number }}
    {% endfor %}
    <button type="submit">Видалити вибрані контакти</button>
</form>

</body>

</html>
